<footer>
        <div class="container footer">
            <div class="row">
                <div class="col-md-5 text-md-left text-center" style="color:#8e8e8e">
                    <h5></h5>
                    <p>Your hub for tracking live scores from your favourite school sports teams in
                        field hockey, football, water polo, rugby and basketball.
                    </p>
                </div>
                <div class="col-md-3 offset-md-4 footer-logo text-md-right text-center">
                    <%= link_to "greenie.", root_path %>
                </div>
            </div>
        </div>
</footer>
