<footer class="row">

        <div class="container footer">
            <nav class="footer-menu">
                <a href="#">HOW IT WORKS</a>
                <a href="#">PRODUCT NEWS</a>
                <a href="#">CONTACT <span>greenie.</span></a>
            </nav>
        </div>

</footer>
