<footer>
        <div class="container footer">
            <div class="col-md-4" style="color:#8e8e8e">
                <h5></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-3 offset-md-5 footer-logo text-md-right text-xs-center">
                <%= link_to "greenie.", root_path %>
            </div>
        </div>
        <div class="footer-social">
            <div class="container">
                <div class="col-md-4 text-md-left text-xs-center">
                    <h5 style="color:#7d7d7d">Made with <span style="color:#ff6d12">&#10084;</span> in Africa</h5>
                </div>
                <div class="col-md-4 offset-md-4">
                    <a href=""><img src="/assets/facebook.svg" alt="facebook" class=" col-xs-2 col-sm-2"></a>
                    <a href=""><img src="/assets/twitter.svg" alt="twitter" class=" col-xs-2 col-sm-2"></a>
                    <a href=""><img src="/assets/youtube.svg" alt="youtube" class="col-xs-2 col-sm-2"></a>
                    <a href=""><img src="/assets/snapchat.svg" alt="snapchat" class="col-xs-2 col-sm-2"></a>
                    <a href=""><img src="/assets/instagram.svg" alt="instagram" class=" col-xs-2 col-sm-2"></a>
                    <a href=""><img src="/assets/whatsapp.svg" alt="whatsapp" class=" col-xs-2 col-sm-2"></a>
                </div>
            </div>
        </div>
</footer>
