<% @match_events.each do |one_event| %>
    <p class="match-event-comment col-sm-7" >
      <span class="event_name col-sm-3"><%= one_event.event_name  %></span>
      <span class="event_team col-sm-4 offset-sm-2"><%= one_event.team %></span>
      <span class="event_players col-sm-12"><%= one_event.players %></span>
      <span class="col-sm-12"><%= one_event.comment %></span>
    </p>
<% end  %>
