<div class="row match-state text-sm-center">
    <% if @match.matchStatus == "UPCOMING" %>
      <p class="alert alert-danger">MATCH NOT YET STARTED.</p>
    <% end %>
    <% if @match.matchStatus == "COMPLETED" %>
      <p class="alert alert-warning">MATCH COMPLETED.</p>
    <% end %>
    <% if @match.matchStatus == "LIVE" %>
      <p class="alert alert-success">MATCH IN PROGRESS.</p>
    <% end %>
</div>
