<% if @match.sport == "Water Polo" %>
    <% match_status_arr = ["UPCOMING","LIVE","2ND","3RD","4TH","END OF QUARTER", "COMPLETED",] %>
<% end %>

<% if @match.sport == "Basketball" %>
    <% match_status_arr = ["UPCOMING","LIVE","2ND","3RD","4TH","END OF QUARTER", "COMPLETED",] %>
<% end %>

<% if @match.sport == "Rugby" %>
    <% match_status_arr = ["UPCOMING","LIVE","2ND","HALF TIME", "COMPLETED",] %>
<% end %>

<% if @match.sport == "Football" %>
    <% match_status_arr = ["UPCOMING","LIVE","2ND","HALF TIME", "COMPLETED",] %>
<% end %>

<% if @match.sport == "Field Hockey" %>
    <% match_status_arr = ["UPCOMING","LIVE","2ND","HALF TIME", "COMPLETED",] %>
<% end %>



    <%= form_for  @match, :url => { :action => :update_match_status }, :html => {:class => "form-inline mx-auto"} do |f| %>
            <div class="form-group">
                        <%= f.select :matchStatus, options_for_select(match_status_arr),{}, { :class => 'form-control' } %>
                        <%= f.button "Update Match State", class: "btn btn-success"%>
            </div>
    <% end %>
