<div class="row">
    <% match_status_arr = ["UPCOMING","LIVE","2ND","3RD","4TH","END OF QUARTER", "COMPLETED",] %>

    <%= form_for  @match, :url => { :action => :update_match_status } do |f| %>
            <div class="form-group">
                        <%= f.select :matchStatus, options_for_select(match_status_arr), class: "form-control" %>
                        <%= f.button "Update Match State", class: "btn btn-success"%>
            </div>
    <% end %>
</div>
