<div class="main-header row">
            <div class="container">
                <div class="logo col-sm-3">
                    <%= link_to "greenie.", root_path %>
                </div>

                <div class="top-nav col-sm-3 offset-sm-6">
                    <div class="row">
                        <% if scorer_session %>
                            <%= link_to "MY MATCHES", my_matches_path, class: "col-sm-12 btn btn-outline-success my-matches-btn" %>
                        <% end %>
                        <%= link_to "TRACK MATCHES", matches_path, class: "col-sm-12 btn btn-outline-success" %>
                    </div>
                    <div class="row">
                        <!-- <a href="#" class="col-sm-6 btn btn-outline-success">SCORER SIGNUP</a>
                        <a href="#" class="col-sm-6 btn btn-outline-success">SCORER LOGIN</a> -->
                    </div>
                </div>
            </div>
</div>

<div class="tagline-bar row">
    <h2 class="container offset-sm-2">LIVE SCORE TRACKING FOR AMATEUR WATER POLO</h2>
</div>

<div class="live-container container">

        <div class="greenie-live col-sm-4">
                <h3 class="live-greenie"><span class="live-greenie-logo">greenie.</span> <span class="live">LIVE</span></h3>
        </div>
        <div class="live-matches col-sm-6 offset-sm-2">
                <div class="match-link">
                    <div class="row">
                        <p class="col-sm-5">Hellenic Academy</p><p class="col-sm-2">VS</p><p class="col-sm-5">Peterhouse Girls</p>
                        <p class="col-sm-12">WATERPOLO @ Chisipite Senior School, Harare, ZW</p>
                    </div>
                </div><br>
                <div class="match-link">
                    <div class="row">
                        <p class="col-sm-5">St John's College</p><p class="col-sm-2">VS</p><p class="col-sm-5">Falcon College</p>
                        <p class="col-sm-12">WATERPOLO @ St George's College, Harare, ZW</p>
                    </div>
                </div><br>
        </div>
</div>
