<div class="container">

        <header class="row">
             <div class="logo col-md-3">
                 <%= link_to "greenie.", root_path %>
             </div>

             <div class="top-nav col-md-5 offset-md-4 text-md-right">
                     <nav class="btn-group">
                             <%= link_to "Home", root_path, class: "btn btn-outline-success" %>
                             <%= link_to "Track Matches", matches_path, class: "btn btn-outline-success" %>
                     </nav>
             </div>
        </header>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="">
                <h6>This is the final step to give you full access as a scorer</h6>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
