@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    border-bottom: #022029 solid 5px;
    margin-bottom: 2%;
}

.main-header {
    background: url("greenie_cover.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.logo {
    padding-left: 0px;
}

.logo a {
    color: #ff6d12 ;
    font-weight: bold;
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.top-nav {
    margin-top: 2%;
    padding-right: 0px;
}

.tagline-bar {
    background: #ff6d12;
    padding: 1%;
    color: #fff;
}


.btn-outline-success {
    color: #022029;
    background-image: none;
    background-color: transparent;
    border-color: #ff6d12;
    font-weight: bolder;
    border-width: medium;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ff6d12;
    border-color: #ff6d12;
}

.live {
    color: red;
    font-style: italic;
}

.live-greenie {
    color: #ff6d12;
    font-weight: bold;
    margin-top: 5%;
    font-size: 48px;

}

.live-greenie-logo {
    border-bottom: #ff6d12 solid 5px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.live-container {
    margin-top: 5%;
}

.match-link {
    border: #ff6d12 solid 2px;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    background: #ff6d12;
    color: #fff;
    font-weight: bolder;
}

footer {
    /*height: 10vh;*/
    background: #022029;
    margin-top: 2%;
}

.africa-made {
    color: #fff;
    font-size: 15px;
}

.footer-menu {

}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 4px;
    margin-right: 15px;
}

.footer-menu a:hover{
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: none;
    margin-right: 15px;
}

.footer {
    padding-top: 1%;
    padding-bottom: 1%;
}

.match-link p {
    padding-top: 3%;
}

.match-details-link {
    border-bottom: #ff6d12 solid 1px;
    color: #000;
    font-weight: bolder;
    margin-bottom: 2%;
    display: inline;
    padding-top: 1%;
    padding-bottom: 0.5%;
}
