// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Orbitron');

.match-details-link {
    border-bottom: #ff6d12 solid 1px;
    color: #000;
    font-weight: bolder;
    margin-bottom: 2%;
    display: inline;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

.team-name {
    margin-top: 2%;
}

.match-score {
    font-size: 24px;
}

.teamScore {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    border: #022029 solid 2px;
    text-align: center;
    padding: 1%;
    border-radius: 4px;
    color: #ff6d12;
}

.btn-primary {
    color: #ffffff;
    background-color: #022029;
    border-color: #022029;
}

.btn-primary:hover {
    color: #000;
    background-color: #ffffff;
    border-color: #0220290;
}

.match-info {
    padding: 1%;
    background: #022029;
    color: white;
    margin-top: 2%;
    border-radius: 5px;
    font-weight: bold;
}
