// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.match-details-link {
    border-bottom: #ff6d12 solid 4px;
    text-align: center;
    color: #000;
    font-weight: bolder;
    margin-bottom: 2%;
    display: inline;
    padding-top: 1%;
    padding-bottom: 0.5%;
}
